<% provide(:title, "Ayuda") %>


<div class="center jumbotron">
	
<h1>Ayuda</h1>
 <ol>
  <li>Ingresar al sistema con credenciales validas</li>
  <li>Contestar preguntas</li>
  <li>Ver reportes mensuales y trimestrales</li>
</ol> 

</div>
