<% provide(:title, "Iniciar sesión") %>
<div class= "center jumbotron">
	
	<h1>Iniciar sesión</h1>
	<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Por favor introduzca sus credenciales.</h2>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="username" id="inputUsername" class="form-control" placeholder="Usuario" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
       	
       	<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
      </form>

    </div> 

</div>


