<footer class="footer">
  <small>
    <strong>Proyecto RH </strong>
    desarrollado por <a href="https://github.com/andresgtz">Andrés Gutiérrez Castaño</a> y <a href="https://github.com/Jesusnm4">Jesús Alberto Navarro Marín</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "¿Quiénes somos?",   '#' %></li>
      <li><%= link_to "Contacto", '#' %></li>
    </ul>
  </nav>
</footer>