   <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Proyecto RH", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Iniciar Sesión",   root_path %></li>
            <li><%= link_to "Ayuda",   'ayuda' %></li>
            <li><%= link_to "Contacto", 'contacto' %></li>
          </ul>
        </nav>
      </div>
    </header>